/*Textos en general de todas las paginas*/
.textos {
  @extend %textoBase;
  padding: 100px;
}

/*Tabla*/
.horarios {
      display: flex;
      margin: 20px ;
  table {
    background-color: #C3A48C;
    width: 600px;
    height: 200px;
    position: relative;
    align-content: center
    }
      tr th {
       @extend %contenidoTabla;  
    }
       tr td {
        @extend %contenidoTabla;
   }
   }

  /*Imagenes Clases*/
.imagenesClases {
    display: flex;
    justify-content: space-around;
    padding: 80px;
    img {
        width: 500px;
        height: 350px;
      }
    }

/*VISTA MOBILE*/
@media screen and (max-width: 599px) {
  
  .imagenesClases {
    padding: 10px;
    img {
      width: 300px;
      height: 250px;
    }
  }
    /*CLASES*/
    .textos {
      padding: 10px;
    }
}