/*Textos en general de todas las paginas*/
.textos {
  @extend %textoBase;
  padding: 100px;
}

.horarios {
  display: flex;
  justify-content: center;
  margin: 20px;
}

  /*Imagenes Clases*/
.imagenesClases {
    display: flex;
    justify-content: space-around;
    padding: 80px;
    img {
        width: 500px;
        height: 350px;
        &:hover {
          transform: scale(1.1);
          transition: all 0.5s ;
          }
      }
    }

/*VISTA MOBILE*/
@media screen and (max-width: 599px) {
  
  .imagenesClases {
    padding: 10px;
    img {
      width: 300px;
      height: 250px;
      margin: 10px;
    }
  }
    /*CLASES*/
    .textos {
      padding: 10px;
    }
}