/*Textos en general de todas las paginas*/
.textos {
  @extend %textoBase;
  padding: 50px;
  width: 1000px;
}

.clases {
  display: flex;
  justify-content: center;
  padding: 10px;
  div {
    color: $colorTextos;
    font-family: $fuenteTitulos;
    font-weight: bold;
    background-color: $colorHeader;
  }
    .titulo {
      font-size: 25px;
      border: 5px solid $colorBorder;
    }

    ul li {
      font-size: 20px;
      
    }
}


  /*Imagenes Clases*/
.imagenesClases {
    justify-content:space-evenly;
    padding: 30px;
    img {
        width: 500px;
        height: 350px;
        &:hover {
          transform: scale(1.1);
          transition: all 0.5s ;
          }
      }
    }

/*VISTA MOBILE*/
@media screen and (max-width: 599px) {

 
  
  .imagenesClases {
    padding: 10px;
    img {
      width: 300px;
      height: 250px;
      margin: 10px;
    }
  }
    /*CLASES*/
    .textos {
      padding: 10px;
    }
}