/*CONTACTO*/
.formulario {
    font-family: map-get($fuentes, fuenteTitulos);
    font-size: 20px;
    color: map-get($colors, colorTextos);
    background-color: map-get($colors, colorFormulario);
    margin-top: 50px;
    border: map-get($colors, colorBorder) 2px solid;
    form div button {
      padding: 8px 20px 8px 20px;
      font-size: 20px;
      margin-top: 20px;
      background-color: map-get($colors, colorBorder);
    }
  }
  
  /*Datos espacio*/
  .datos {
    display: flex;
    flex-direction: column;
    color: #0F2505;
    font-family: map-get($fuentes, fuenteTextos);
    font-size: 25px;
    padding: 50px;
    text-align:center;
    margin: 10px;
        
  }
  
  .imagenContacto1 {
    @include imagenes ($width:300px, $height:250px, $margin:true)
  }
  

  /*VISTA MOBILE*/
@media screen and (max-width: 599px) {
    /*CONTACTO*/
    .formulario {
        margin-top: 2px;
    }
    .datos {
        font-size: 20px;
        padding: 10px;
    }
    .imagenContacto1 {
      width: 250px;
      height: 200px;
      margin: 5px;
  }
   }
  
  