/*FUENTES*/
@font-face {
    font-family: garamond regular;
    src: url(../fonts/EBGaramond-Regular.ttf);
  }

@font-face {
    font-family: garamond cursiva;
    src: url(../fonts/EBGaramond-Italic.ttf);
  }

$fuenteTextos: garamond cursiva;

$fuentesTitulos: garamond regular; 
