/*FOOTER*/
footer {
    background-color:$colorDeFooter;
    margin: 0%;
    padding: 0%;
    display: flex;
    align-content: space-between;

    p {
        font-family: garamond regular;
        font-size: 25px;
        color: #ebf1f5;
        text-align: center;
        }
    a {
        text-decoration: none;
        font-size: 40px;    
        align-self: center;
        }

        i {
            color: #F1FFF9;
            &:hover {
            transform: scale(1.3);
            transition: all 0.5s ;
            }
        }
}

.whatsapp {
    text-align: end;
}


    
    
  