/*FOOTER*/
footer {
    background-color:#C8CA83;
    margin: 0%;
    padding: 0%;

        div p {
            font-family: garamond regular;
            font-size: 20px;
            color: #ebf1f5;
            padding: 30px;
            margin-top: 10px;
            align-items: center;
        }

            a {
                width: 120px;
                height: 100px;
                text-decoration: none;
                font-size: 40px;    
            }

                i {
                    color: #F1FFF9;
                    margin-top: 30px;
                    position: relative;
                    left: 500px;
                }
}

/*VISTA MOBILE*/
@media screen and (max-width: 599px) { 
    footer {
      align-content: center;
      justify-content:center;

      div p {
        padding: 0px;
        margin-top: 1px;
        text-align: center;
      }

        div a {
            height: 50px;
            font-size: 30px;
            margin-top: 0px;
      }
    }
         
}
    
    
  