/*Barra de navegacion*/
#header {
    background-color: #ebf1f5;
    padding: 40px;
    nav div h1 {
        font-family: garamond regular;
    }
    div div {
        background-color: #ebf1f5;
    }
    ul li a {
        font-size: 25px;
    }
  }
  

  
  /*Titulo menu hamburguesa*/
  .offcanvas-title {
    font-family: garamond regular;
    padding: 5px;
  }
  
  /*Links menu hamburguesa*/
  .nav-link {
    font-family: garamond regular;
    padding: 10px;
    font-size: 20px;
    color: #000000;
  }
  

  