header {
    nav {
        background-color: $colorHeader;
        height: 90px;
    }
    div h1 {
        text-align: center;
        font-family: $fuenteTitulos; 
    }
    div div {
        background-color: $colorHeader;
    }
    h4 {
        font-family: $fuenteTitulos;
        padding: 5px;
    }
    div ul li {
        font-family: $fuenteTitulos;
        font-size: 20px;
    }
}


