/*HOME*/
/*FONDO DE TODAS LAS PAGINAS*/
.fondo {
    background-color: $colorDeFondo;
  }

  /*Imagen home con animacion*/
#imagenPrincipal{
    display: flex;
    background-image:url(./images/cielo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content:space-around;
    padding: 40px;
    margin-top: 100px;
    img {
        width: 230px;
        height: 230px;
    }
}

.yoga1 {
    animation-name: yoga1;
    animation-duration: 6s;
    animation-iteration-count:initial;
}

@keyframes yoga1 {
0% {
  transform: translateX(-80px);
}
50% {
  transform: translateY(-80px);
}
}
  
.yoga2 {
    animation-name: yoga2;
    animation-duration: 8s;
    animation-iteration-count:initial;
}
  
@keyframes yoga2 {
  0% {
    transform: translateY(40px);
  }
  50% {
    transform: translateY(-50px);
  }
}
  
.yoga3 {
    animation-name: yoga3;
    animation-duration: 6s;
    animation-iteration-count:initial;
}
  
  @keyframes yoga3 {
  0% {
    transform: translateX(80px);
  }
  50% {
    transform: translateY(-80px);
  }
}

/*Texto*/
.descripcion {
  @extend %textoBase;
  margin: 50px;
  }

@media screen and (max-width: 599px) {

    /*HOME*/
    #imagenPrincipal {
      padding: 10px;
      margin-top: 90px;
    }
    #imagenPrincipal img {
      width: 150px;
      height: 150px;
    }
    
    .yoga1 {
      display: none;
    }
    
    .yoga2 {
      animation-name: yoga2;
      animation-duration: 8s;
      animation-iteration-count:initial;
    }
    
    @keyframes yoga2 {
      0% {
        transform: translateY(20px);
      }
      50% {
        transform: translateY(-20px);
      }
    }
    
    .yoga3 {
      display: none;
    }
    
    .textos {
      margin: 5px;
    }
 }
    
  
  
  