$fuentes: (
    fuenteTextos: garamond cursiva,
    fuenteTitulos: garamond regular,
);


$colors: ( 
    colorDeFondo:#f0f7f8,
    colorDeFooter: #C8CA83,
    colorHeader: #ebf1f5,
    colorFormulario: #C8DBDF,
    colorTextos: #0F2505,
    colorBorder: #84bcc7, 
); 
