/*SOBRE MI*/
/*Todos los titulos de las paginas excepto HOME*/
.tituloNubes {
    font-family: $fuenteTextos;
    text-align: center;
    color: #000000;
    background-image: url(/images/cielo.jpg);
    background-size: cover;
    padding: 20px;
    font-size: 50px;
    margin-top: 100px;   
}

/*Imagen y descrpcion*/
.biografia {
    justify-content: space-around;
    margin: 50px;
    img {
      @include imagenes ($width: 400px, $height: 500px, $margin:false) 
    }

      img {
        &:hover {
          transform: scale(1.1);
          transition: all 0.5s ;
          }
      }
   
    p {
        @extend %textoBase;
        width: 500px;
        text-align:justify;
    }
    a {
      color: #B19A88 ;
      text-decoration: none;
    }
 }
/*VISTA MOBILE*/
@media screen and (max-width: 599px) {
  /*Imagen y descripcion*/
    .biografia {
      padding: 10px;
      margin: 10px;
      p {
        width: 600px;
        padding: 10px;
      }
      img {
        @include imagenes ($width: 250px, $height: 300px)
      }
    }
    
}
    
    

  
  
  