/*VISTA MOBILE*/
/*RESET*/
* {
    margin: 0%;
    padding: 0%;
}

/*FUENTES*/
@font-face {
    font-family: garamond regular;
    src: url(../fonts/EBGaramond-Regular.ttf);
  }

@font-face {
    font-family: garamond cursiva;
    src: url(../fonts/EBGaramond-Italic.ttf);
  }

/*HOME*/
#home {
  display: grid;
  grid-template-areas: 
  "header"
  "imagenPrincipal"
  "espacio"
  "footer";
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
  row-gap: 10px;
  background-color: #F1FFF9;
}

#header {
  grid-area: header;
}

/*Barra de navegacion*/
.navbar {
  background-color: #ebf1f5;
  padding: 40px;
}

/*Menu haburguesa*/
.offcanvas {
  background-color: #ebf1f5;
}

/*Titulo menu hamburguesa*/
.offcanvas-title {
  font-family: garamond regular;
  padding: 5px;
}

/*Links menu hamburguesa*/
.nav-link {
  font-family: garamond regular;
  padding: 10px;
  font-size: 20px;
  color: #000000;
}

/*Titulo NAV*/
.tuEspacio {
  position: relative;
  text-align: center;
  font-family: garamond regular;
  left: 500px;
}
/*Imagen home con animacion*/
#imagenPrincipal{
  grid-area: imagenPrincipal;
  display: flex;
  flex-direction: row;
  background-image: url(/images/fondoinicio.jpg
  background-size: cover;
  background-repeat: no-repeat;
  justify-content:space-around;
  align-items:center;
}

#imagenPrincipal img {
  width: 250px;
  height: 250px;
}

.yoga1 {
  animation-name: yoga1;
  animation-duration: 6s;
  animation-iteration-count:initial;
}

@keyframes yoga1 {
  0% {
    transform: translateX(-80px);
  }
  50% {
    transform: translateY(-80px);
  }
}

.yoga2 {
  animation-name: yoga2;
  animation-duration: 8s;
  animation-iteration-count:initial;
}

@keyframes yoga2 {
  0% {
    transform: translateY(70px);
  }
  50% {
    transform: translateY(-70px);
  }
}

.yoga3 {
  animation-name: yoga3;
  animation-duration: 6s;
  animation-iteration-count:initial;
}

@keyframes yoga3 {
  0% {
    transform: translateX(80px);
  }
  50% {
    transform: translateY(-80px);
  }
}
/*Texto descripcion de tu espacio*/
#espacio {
  grid-area: espacio;
  font-family: garamond cursiva;
  font-size: 30px;
  text-align: center;
  color: #0F2505;
  padding: 80px;
}

/*FOOTER*/
footer {
  grid-area: footer;
  display: flex;  
  background-color:#C8CA83;
  align-content: center;
  justify-content: space-between;
  margin: 0%;
  padding: 0%;
}

.domicilio {
  font-family: garamond regular;
  font-size: 20px;
  color: #ebf1f5;
  padding: 30px;
}

.logosFooter {
  width: 120px;
  height: 100px;
}

/*SOBRE MI*/
#sobreMi {
  display: grid;
  grid-template-areas: 
  "header header"
  "tituloNubes tituloNubes"
  "silviaTorres silviaTorres"
  "biografia biografia"
  "footer footer";
  grid-template-rows: 80px 100px 500px 500px 90px;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  row-gap: 60px;
  background-color: #F1FFF9;
}
/*Todos los titulos de las paginas excepto HOME*/
.tituloNubes {
  grid-area: tituloNubes;
  font-family: garamond cursiva;
  color: #000000;
  background-image: url(../images/campo.jpg);
  background-size: cover;
  padding: 40px;
}
/*Imagen y descrpcion*/
.biografia {
  display: flex;
  flex-direction: row;
  grid-area: biografia;
  font-family: garamond cursiva;
  font-size: 25px;  
  justify-content: space-around;
}

.textoBiografia {
  color: #0F2505;
  font-family: garamond cursiva;
  font-size: 25px;
  width: 500px;
  padding: 50px;
  text-align:justify;
}

.imagenSilvia {
  width: 400px;
  height: 500px;
}

.imagenSilvia:hover {
  width: 420px;
  height: 520px;
}
/*Imagen y descripcion*/
#silviaTorres {
  grid-area: silviaTorres;
  display: flex;
  flex-direction: row;
  font-family: garamond cursiva;
  font-size: 25px;  
  justify-content: space-around;
}

/*NUESTRO ESPACIO*/
#nuestroEspacio {
  display: grid;
  grid-template-areas: 
  "header header header"
  "tituloNubes tituloNubes tituloNubes"
  "descripcionEspacio descripcionEspacio descripcionEspacio"
  "fotos fotos fotos"
  "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80px 100px 200px 600px 90px;
  height: 100vh;
  background-color: #F1FFF9;
  row-gap: 60px;
}
/*Texto describiendo el espacio*/
.descripcionEspacio {
  grid-area: descripcionEspacio;
  color: #0F2505;
  font-family: garamond cursiva;
  font-size: 25px;
  padding: 50px;
  text-align:justify;
}
/*Imagenes del espacio*/
.imagenesEspacio {
  grid-area: fotos;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.imagenesEspacio img {
  padding: 10px;
}

.imagenesEspacio img:hover {
  padding: 01px;
}

/*CLASES*/
#clases {
  display: grid;
  grid-template-areas: 
  "header header header"
  "tituloNubes tituloNubes tituloNubes"
  "horarios horarios horarios"
  "imagenesClases imagenesClases imagenesClases"
  "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80px 100px 400px 400px 90px;
  height: 100vh;
  background-color: #F1FFF9;
  row-gap: 60px;
}

.descripcionClases {
  color: #0F2505;
  font-family: garamond cursiva;
  font-size: 25px;
  padding: 50px;
  text-align:center;
}

.horarios {
  grid-area: horarios;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Tabla*/
.tabla {
  background-color: #C8DBDF;
  opacity: 80%;
}

/*Dias*/
.tabla tr th {
  padding: 20px 60px 20px 60px;
  border: #6ac3d4 solid 2px;
  font-family: garamond regular;
  font-size: 30px;
}

/*Horarios*/
 .tabla tr td {
  padding: 20px 40px 20px 40px;
  border: #6ac3d4 solid 2px;
  font-family: garamond regular;
  font-size: 30px;
  text-align: center;
}

/*Imagenes Clases*/
.imagenesClases {
  grid-area: imagenesClases;
  display: flex;
  justify-content: space-around;
  padding: 80px;
}

.imagenclase {
  width: 500px;
  height: 300px;
}

/*CONTACTO*/
#contacto {
  display: grid;
  grid-template-areas: 
  "header header"
  "tituloNubes tituloNubes"
  "datos formulario"
  "footer footer";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80px 100px 750px 90px;
  background-color: #F1FFF9;
  height: 300px;
  row-gap: 60px;
}

.formulario {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  grid-area: formulario;
  background-color: #C8DBDF;
  border: #6ac3d4 solid 2px;
  width: 500px;
  font-family:garamond regular;
  font-size: 20px;
  color: #000000;
  text-align: center;
}

.formulario fieldset label {
  padding: 5px;
  display: block;
}

.formulario fieldset input {
  padding: 2px;
}

.formulario fieldset textarea {
  padding: 30px;
}
/*Datos espacio*/
.datos {
  display: flex;
  flex-direction: column;
  grid-area: datos;
  color: #0F2505;
  font-family: garamond cursiva;
  font-size: 25px;
  padding: 50px;
  text-align:center;
}

/*VISTA TABLET*/
@media screen and (min-width: 600px) {
  
}





/*VISTA DESKTOP*/
@media screen and (min-width: 1200px) {
  #home {
    display: grid;
    grid-template-areas: 
    "header header header"
    "imagenPrincipal imagenPrincipal imagenPrincipal"
    "espacio espacio espacio"
    "footer footer footer";
    grid-template-rows: 80px 350px 400px 90px;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
    row-gap: 60px;
  }
}




















